<ion-header>
  <ion-toolbar>
    <ion-title>Search Catalogue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search Bar -->
  <ion-item *ngIf="showProductForm==false">
    <ion-input [(ngModel)]="searchTerm" placeholder="Search product"></ion-input>
    <ion-button color="success" (click)="onSearch()">Search</ion-button>
  </ion-item>

  <!-- Form for new product -->
  <ion-card *ngIf="showProductForm==true">
    <ion-card-header>
      <ion-card-title>Add New Product</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item><ion-input [(ngModel)]="newProduct.code" placeholder="Code"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.description" placeholder="Description"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.shortDescription"
          placeholder="Short Description"></ion-input></ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newProduct.price" type="number" placeholder="Price (e.g. 0.00 Lek)" min="0"
          step="0.01"></ion-input>
      </ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.minimumQty" type="number"
          placeholder="Minimum Quantity"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.stockQty" type="number"
          placeholder="Stock Quantity"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.packageSize" type="number"
          placeholder="Package Size"></ion-input></ion-item>
      <ion-item><ion-input [(ngModel)]="newProduct.packageWeight" type="number"
          placeholder="Package Weight"></ion-input></ion-item>
      <ion-item><ion-button color="success" (click)="confirmAddNewProduct()">Confirm</ion-button></ion-item>
      <ion-item><ion-button color="danger" (click)="cancelAddNewProduct()">Cancel</ion-button></ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="showProductForm==false" expand="block" color="warning" (click)="addNewProduct()">Add New Product</ion-button>

  <!-- Search Results -->
  <ion-list *ngIf="filteredProducts.length > 0">
    <ion-item *ngFor="let product of filteredProducts">
      <ion-label>
        <h1>{{ product.code }}</h1>
        <h2>{{ product.shortDescription }}</h2>
        <p>{{ product.price }} - Stock: {{ product.stockQty }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" color="medium"(click)="startEdit(product)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" color="danger" (click)="removeProduct(product.productId)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
